{{ define "swap" }}
<html lang="en-US">

    {{ template "header" .AppVersion }}

    <body class="has-navbar-fixed-top  has-navbar-fixed-bottom">

    {{ template "character-navbar" . }}

    <section class="section" style="background-color: rgba({{ .BrightCharacter.Emblem.Background.Red }}, {{ .BrightCharacter.Emblem.Background.Green }}, {{ .BrightCharacter.Emblem.Background.Blue }}, .5);">

        <div class="container notification" style="max-width: 728px; background-color: rgba(25, 25, 25, .5);">
            <h1 class="title has-text-light" style="text-align: center; text-shadow: 2px 2px 0 rgba({{ .BrightCharacter.Emblem.Background.Red }}, {{ .BrightCharacter.Emblem.Background.Green }}, {{ .BrightCharacter.Emblem.Background.Blue }}, .75);">Swap Out</h1>
            <hr>
            <article class="media center">
                <div class="media-content bright-item">
                    <div id="grid">

                        <div id="a" class="center">
                            <!-- bright -->
                            <a class="button is-dark is-outlined" style="padding: 2rem .75rem"
                               href="{{ .CharacterBaseUri }}/character/{{ .BrightCharacter.MembershipType }}/{{ .BrightCharacter.Id }}">
                                <figure class="image is-48x48 is-unselectable">
                                    <img  src="{{ .BungieUrl }}/{{ .SwapOut.IconUri }}">
                                </figure>
                            </a>
                        </div>

                        <div id="b">
                            <h1 class="title is-size-4 is-size-5-mobile has-text-white">{{ .SwapOut.Name }}</h1>
                            <h2 class="subtitle is-size-5  is-size-6-mobile has-text-warning">{{ .SwapOut.Slot.Name }}</h2>
                        </div>


                        <div id="c" class="center">

                        </div>

                        <div id="d" class="center">

                        </div>

                    </div>
                </div>
            </article>
        </div>

        <div class="container notification" style="max-width: 728px; background-color: rgba(25, 25, 25, .5);">
            <h1 class="title has-text-light" style="text-align: center; text-shadow: 2px 2px 0 rgba({{ .BrightCharacter.Emblem.Background.Red }}, {{ .BrightCharacter.Emblem.Background.Green }}, {{ .BrightCharacter.Emblem.Background.Blue }}, .75);">Swap In</h1>
            <hr>
            {{ range .SwapIns }}

                <article class="media center">
                    <div class="media-content bright-item">
                        <div id="grid">

                            <div id="a" class="center">

                                <!-- bright -->
                                <a class="button is-warning is-outlined" style="padding: 2rem .75rem"
                                   href="{{ $.CharacterBaseUri }}/character/{{ $.BrightCharacter.MembershipType }}/{{ $.BrightCharacter.Id }}/swap/{{ $.SwapType }}/{{ .InstanceId }}">
                                    <figure class="image is-48x48 is-unselectable">
                                        <img  src="{{ $.BungieUrl }}/{{ .IconUri }}">
                                    </figure>
                                </a>

                            </div>

                            <div id="b">
                                <h1 class="title is-size-4 is-size-5-mobile has-text-white">{{ .Name }}</h1>
                                <h2 class="subtitle is-size-5  is-size-6-mobile has-text-warning">{{ .Type }}</h2>
                            </div>


                            <div id="c" class="center">

                            </div>

                            <div id="d" class="center">

                            </div>

                        </div>
                    </div>
                </article>

            {{ end }}

        </div>
        <br>
    </section>

{{/*    {{ template "character-actionbar" . }}    */}}

    {{ template "footer" .AppVersion }}

    {{ template "google-analytics" .GoogleAnalyticsId }}

    {{ template "scripts" .AppVersion  }}

    </body>
</html>
{{ end }}
