#a { grid-area: a; }
#b { grid-area: b; }
#c { grid-area: c; }
#d { grid-area: d; }
#e { grid-area: e; }

#kw { grid-area: kw; background: peru }
#ew { grid-area: ew; background: purple }
#pw { grid-area: pw; background: goldenrod }
#ha { grid-area: ha; background: dodgerblue }
#ga { grid-area: ga; background: lightcoral }
#ca { grid-area: ca; background: olivedrab }
#la { grid-area: la; background: mediumturquoise }
#ia { grid-area: ia; background: darkorchid }

#grid {
    display: grid;
    grid-template-areas:
            "a b c d";
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    grid-template-columns: auto minmax(0, 1fr)
}

#equip {
    display: grid;
    grid-template-areas:
            "kw ew pw pw pw"
            "ha ga ca la ia";
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    grid-template-columns: auto minmax(0, 1fr)
}

@media (max-width: 512px) {
    #grid {
        grid-template-areas:
                "a b"
                "c d";
    }
}